@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library App</h1>
    <p>Click the book links to get sratred. This App allows to keep track of Books that are borrowed from the Library</p>
</div>
